.img-circle-small {
  width: 53px;
  height:55px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border: 2px solid #CCC;
  margin: 2px;
}

.user-post-content {
  margin: 10px;
}

.vote-btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  outline: none !important;
    outline-offset: none !important;
}
